h1{
  font-size: 3rem;
}
h2{
  font-size: 2.3rem;
  display: flex;
  justify-content: space-between;
  text-decoration: none;
  background-color: rgba(4, 72, 128, 0.7);
}
h3{
  font-size: 2rem;
}
ul{
  display: flex;
  justify-content: space-around;
  font-size: 1rem;
  color: white;
}
li{
  text-decoration: none;
  font-size: 2rem;
  list-style: none;
  color: black;
}
.w_btn{
  text-decoration: none;
  color: white;
}