h2{
  display: flex;
  justify-content: center;
}
.select{
  display: flex;
  flex-flow: wrap;
}


.datetime{
  display: inline-block;
  width: auto;
  margin-top: 5px;
  padding: 5px;
}
.date{
  display: inline-block;
  width: auto;
  margin-top: 10px;
  padding: 5px;
}

.btn{
  background-color: rgba(20, 240, 20, 0.3);
  border: 1px solid rgba(20, 240, 20, 0.3);
  color: #fff;
  line-height: 24px;
  font-size: 24px;
  cursor: pointer;
  border-radius: 5px;
}
.new-btn {
  width: 100%;
  margin: 10px auto;
  
  
}
.new-red-btn{
  width: 200px;
  background-color: rgba(245, 60, 60, 0.7);
  border: 1px solid rgba(245, 60, 60, 0.7);
  padding: 2px 5px;
  color: #fff;
  line-height: 24px;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
}
.error-message{
  color: red; 
}
.login-flash-message{
  font-size: 24px;
}
@media (max-width: 640px) {
  h2{
    display: flex;
    flex-flow: wrap;
  }
  .form-text-wrap{
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .date{
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .datetime{
    width: 50%;
    display: flex;
    
  }
  .new-red-btn{
    width: 50%;
    border-radius: 5px;
  }
  .error-message{
    color: red;
    display: flex;
  }
  
}