h2{
  display: flex;
  justify-content: center;
}
.select{
  display: flex;
  flex-flow: wrap;
}


.datetime{
  display: inline-block;
  width: auto;
  margin-top: 20px;
  padding: 5px;
}

.btn{
  color: black;
}
.shift-btn {
  width: 75%;
  margin: 0 auto;
  font-size: 48px;
}
.red_btn{
  width: 40%;
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  line-height: 48px;
  font-size: .5em;
  cursor: pointer;
}